lark==1.1.9
loguru==0.7.2
numpy==1.26.4
palettable==3.3.3
pandas==1.5.3
pathos==0.3.2
polyleven==0.8
pytest==8.1.1
pytest-benchmark==4.0.0
scikit-learn==1.4.2
seaborn==0.13.2
sphinx==7.2.6
sphinx-autoapi==3.0.0
sphinx-rtd-theme==2.0.0
sphinxcontrib-fulltoc==1.2.0
threadpoolctl==3.4.0
z3-solver==4.13.0.0
