lark==1.1.9
loguru==0.7.2
numpy==2.0.0
palettable==3.3.3
pandas==2.2.2
pathos==0.3.2
polyleven==0.8
pytest==8.2.2
pytest-benchmark==4.0.0
scikit-learn==1.5.0
seaborn==0.13.2
sphinx==7.3.7
sphinx-autoapi==3.1.2
sphinx-rtd-theme==2.0.0
sphinxcontrib-fulltoc==1.2.0
threadpoolctl==3.5.0
z3-solver==4.13.0.0
