# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python Tests

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4
      - name: Install the latest version of uv and set the python version
        uses: astral-sh/setup-uv@v4
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
          cache-dependency-glob: |
            **/requirements*.txt
            **/pyproject.toml
      - name: Create venv
        run: |
          uv venv
      - name: Install dependencies
        run: |
          if [ -f requirements.txt ]; then uv pip install -r requirements.txt; fi
          if [ -f requirements-dev.txt ]; then uv pip install -r requirements-dev.txt; fi
      - name: Lint with mypy
        run: |
          uv run mypy --no-strict-optional --ignore-missing-imports --explicit-package-bases geneticengine
      - name: Check install
        run: |
          uv pip install  -e .
      - name: Test with pytest
        run: uv run --frozen pytest --cov --benchmark-skip
      - name: Upload coverage reports to Codecov
        if: ${{ (matrix.python-version == '3.13') }}
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
