# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Run Examples

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]

    steps:
    - uses: actions/checkout@v4.1.1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    # - name: Set env
    #   run: echo "VIRTUAL_ENV=$(python -c 'import sys; print(sys.prefix)')">> $GITHUB_ENV
    - name: Install dependencies
      run: |
        python -m pip install --upgrade uv
        uv pip install --system flake8 pytest mypy
        if [ -f requirements.txt ]; then uv pip install --system -r requirements.txt; fi
        if [ -f requirements-dev.txt ]; then uv pip install --system -r requirements-dev.txt; fi
    - name: Check install
      run: |
        uv pip install --system -e .
    - name: Run Examples Bash
      run: |
        bash run_examples.sh
